<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="C:/Users/vrddam/Desktop/ATLAS/6 Testing/TestNG/JavaWorkspace/TestNGDemo/src/test/java/paralleltest/ParallelTest1.java">
        <classes>
            <class name="paralleltest.ParallelTest1">
                <methods>
                    <include name="logoTet"/>
                    <include name="homePageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>